* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, input, button {
    font-family: 'Open Sans', sans-serif;
}

input, button {
    font-size: 16px;
}

.head_bar {
    display: inline;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    color: whitesmoke;
}

.banner {
    font-weight: bold;
    padding: 8% 4%;
    background-image: url("../img/books-pict1.jpeg");
    background-color: #000000;
    background-size: cover;
    opacity: 0.8;
    text-align: center;
    
}

.banner h1, h3 {
    text-shadow: 2px 2px 4px black;
}

.banner a {
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: space-around;
    background-color: #000000;
    padding: 0;
    position: sticky;
    top: 0;
    color: cornflowerblue;
    align-items: center;
    height: 40px;
}

nav .logo {
    font-family: 'Lora', serif;
    letter-spacing: 3px;
    font-size: 1.3rem;
}

main {
    max-width: 800px;
    width: 80%;
    margin: 0 auto;
    padding: 16px;

}

.input_section {
    display: flex;
    flex-direction: column;
    padding: 16px;
    border: 1px solid black;
    border-radius: 10px;
}

.input_section > h2 {
    text-align: center;
    color: cornflowerblue;
}

.input_section > form > .input {
    margin: 8px 0;
}

.input_section > form > button {
    background-color: cornflowerblue;
    color: white;
    border: 0;
    border-radius: 5px;
    display: block;
    width: 100%;
    padding: 8px;
    cursor: pointer;
}

.input_section > form > button > span {
    font-weight: bold;
}

.input_section > form > .input > input {
    display: block;
    width: 100%;
    padding: 8px;
    border-radius: 5px;
}

.input_section > form > .input > label {
    color: cornflowerblue;
    font-weight: bold;
}

.input_section > form > .input_inline {
    margin: 12px 0;
    display: flex;
    align-items: center;
}

.input_section > form > .input_inline > label {
    color: cornflowerblue;
    font-weight: bold;
    margin-right: 10px;
}

.search_section {
    margin: 16px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    border: 1px solid black;
    border-radius: 10px;
}

.search_section > h2 {
    color: cornflowerblue;
}

.search_section > form {
    padding: 16px;
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr 0.5fr;
    grid-gap: 10px;
}

.search_section > form > label {
    display: flex;
    align-items: center;
}

.search_section > form > input {
    padding: 5px;
    border-radius: 5px;
}

.search_section > form > button {
    background-color: cornflowerblue;
    color: white;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}

.book_shelf {
    margin: 16px 0 0 0;
    border: 1px solid black;
    padding: 16px;
    border-radius: 10px;
}

.book_shelf > h2 {
    color: cornflowerblue;
}

.book_shelf > .book_list {
    padding: 16px;
}

.book_shelf > .book_list > .book_item {
    padding: 8px 16px 16px 16px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px 0;
}

.book_shelf > .book_list > .book_item > h3, p {
    margin: 8px 0;
}

.book_shelf > .book_list > .book_item > .action > button {
    border: 0;
    padding: 5px;
    margin: 0 5px 0 0;
    border-radius: 5px;
    cursor: pointer;
}

.checklist-button {
    background: url('../img/checked.svg');
    background-size: contain;
    width: 20px;
    height: 20px;
    margin-left: auto;
    cursor: pointer;
    border: none;
}

.checklist-button:hover {
    background: url('../img/checked.gif');
    background-size: contain;
}

.edit-button {
    background: url('../img/editt.svg');
    background-size: contain;
    width: 20px;
    height: 20px;
    margin-left: auto;
    cursor: pointer;
    border: none;
}

.edit-button:hover {
    background: url('../img/edit.gif');
    background-size: contain;
    width: 20px;
}

.trash-button {
    background: url('../img/trash.svg');
    background-size: contain;
    width: 20px;
    height: 20px;
    margin-left: 16px;
    cursor: pointer;
    border: none;
}

.trash-button:hover {
    background: url('../img/trash.gif');
    background-size: contain;
}

.undo-button {
    background: url('../img/restart.svg');
    background-size: contain;
    width: 20px;
    height: 20px;
    margin-left: auto;
    cursor: pointer;
    border: none;
}

.undo-button:hover {
    background: url('../img/restart.gif');
    background-size: contain;
}

.checklist-button:focus,
.trash-button {
    outline: none;
}

footer {
    padding: 20px;
    color: #6495ed;
    background-color: #383838;
    text-align: center;
    font-weight: bold;
}

footer a {
    text-decoration: none;
}

footer .sosmed {
    width: 30px;
}
